body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#kc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#kc-container-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#kc-header {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

#kc-form {
    color: #f8f8f2;
    width: 100%;
}

input {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    color: black;
    justify-content: center;
    align-items: center;
    display: block;
}

input[type="submit"] {
    background-color: #800080;
    color: #ffffff;
    border-color: #800080;
    font-family: 'Roboto', sans-serif;
    width: 100px;
    margin: auto;
    display: block;
}

input[type="submit"]:hover {
    background-color: #760080;
    border-color: #760080;
}

.kc-form-options {
    margin-top: 10px;
    text-align: center;
}

.kc-forgot-password, .kc-register, .kc-login {
    color: #ffffff;
    text-decoration: none;
}

.kc-forgot-password:hover, .kc-register:hover, .kc-login:hover {
    text-decoration: underline;
}
